// Base styles

body{
    background-color: $light-blue;
}

header{
    background-color: $dark-green;

    nav{
        text-align: center;
        background-color: $navbar-background;
    
        
        li{
            list-style-type: none;

            a {
               text-decoration: none;
               color:$pink
            }
        }
    }
}