// Global variables

// Descriptes color variables

$dark-blue: #69979E;
$green: #38C3BE;
$pink: #CFBEC5;
$light-blue: #B9DDDB;
$dark-green: #2AB3A6;

// Functional color variable

$navbar-background: $dark-blue;
$nav-text:$green;
$hover-color: $pink;


